/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  max-width: 50%;
  margin: 0 auto;
  position: relative;
}


ul{
  width: 100px;
  border: 3px solid black;
  position: fixed;
  top: 20px;
  left:20px;
  list-style: none;
  padding: 0;
}
li{
  width: 94px;
  height: 65px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#darkcyan{
  background: #3d7e84;
}
#beige{
  background: #d3d2b7;
}
#blue{
  background: #8b9ce4;
}
#gray{
  background: lightgray;
}
#mustard{
  background: #f4d559;
}
